.LoadRun {
    // min-width: 100vw;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
    white-space: nowrap;
}